extends ../layouts/base
block head
  title Projects
block content
  h1 Projects
  h2 App
  ul
    li
      a(href='watilde.github.io/dartstack/') Dartstack
  h2 npm
  ul
    li
      a(href='github.com/watilde/tvm') tvm
    li
      a(href='github.com/watilde/grunt-tvm-tsc') grunt-tvm-tsc
    li
      a(href='github.com/watilde/qrep') qrep
