html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #345678;
  background-color: #fefefe;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}

a, a:visited {
  font-weight: 400;
  color: #555666;
}
a:hover {
  color: #ff8c00;
}

h1 {
  font-weight: 200;
}

header {
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  margin: auto;
  max-width: 720px;
  padding-left: 15px;
  padding-right: 15px;
}

main {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin: auto;
  max-width: 720px;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  border-top: 1px dotted #cccddd;
  width: 100%;
  padding-bottom: 8px;
}

footer iframe {
  position: relative;
  top: 8px;
}
