html, body {
  font-family: 'Cutive Mono';
  margin: 0;
}

body {
  width: 820px;
  padding: 0 10px;
  margin: 0 auto;
}

a, a:visited {
  color: 333;
  text-decoration: none;
}
a:hover {
  color: #ff8c00;
}

h1 {
  margin: 10px 0;
  text-align: center;
  font-family: 'Exo';
}

main, header {
  margin: 5px 0;
  text-align: center;
}

footer {
  width: 820px;
  text-align: center;
  margin: 5px 0;
}

iframe {
  margin-top: 5px;
  border: 1px solid #888;
}
